* {
  margin: 0%;
  padding: 0%;
}
body {
  overflow-x: hidden;
  box-sizing: border-box;
}
header {
  display: flex;
  background: black;
  max-height: 200px;
  overflow: hidden;
}
header > h1 {
  font-size: 50px;
  padding: 30px;
  width: 70%;
  color: white;
}
.header__image {
  width: 10%;
  width: inherit;
  flex: 0.3;
  height: inherit;
}
.header__image > img {
  padding: 10px;
  width: inherit;
  height: 250px;
}

.active {
  background-color: blue;
  color: red;
}

nav > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  background-color: maroon;
}
li {
  margin: 10px;
}
li > a {
  text-decoration: none;
  padding: 5px;
  background-color: white;
}
